In [ ]:
# Sets => {}
# used to store collection of unique items
# they do not allow duplicate elements

In [1]:
# create a set
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [8]:
my_set = set([1, 2, 3, 4, 5])     # list to set
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_empty_set = set([1, 2, 5, 1, 3, 4, 5])     # list to set
print(my_empty_set)
# print(type(my_empty_set))

{1, 2, 3, 4, 5}

In [ ]:
# Basic set operation
# Adding and Removing elements
my_set.add(420)
print(my_set)
# ignore the repeated elements
my_set.add(420)
print(my_set)

{1, 2, 3, 4, 5, 420}
{1, 2, 3, 4, 5, 420}

In [13]:
# Remove the elements from set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 420}

In [2]:
# not to give error, we have to use discard in place of remove
my_set.discard(20)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
# pop method
removed_element = my_set.pop()  # first element from list will be removed
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [6]:
# clear
my_set.clear()
print(my_set)

set()

In [9]:
# set membership test
my_set = {1, 2, 3, 4, 5, 18}
print(3 in my_set)      # True
print(10 in my_set)     # False

True
False

In [ ]:
# Mathematical Operation
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# union
union_set = set1.union(set2)
print(union_set)

# Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)  # find out the common element and update in set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}

In [17]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Difference
set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [18]:
print(set1)

{1, 2, 3}

In [ ]:
# Symmetric diff
# same/intersection elements from set1 and set2 is removed and unique element is combined
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
# sets methods
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5}

# is subset
print(set1.issubset(set2))  # is all elements of set1, available in set2

print(set1.issuperset(set2))

False
True

In [ ]:
lst = [1, 2, 3, 4, 4, 5]

set(lst)    # to remove duplicate element

{1, 2, 3, 4, 5}

In [25]:
# Counting unique words in text
text = "In this tutorial, we are talking about set"
words = text.split()

# convert list of words to set to get unique words
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'In', 'this', 'tutorial,', 'about', 'talking', 'set', 'we', 'are'}
8