The map() fn applies a given fn to all items in an input list and returns a map object. This is particularly useful for transforming data in a list comprehensively.

In [4]:
def square(x):
    return x*x

print(square(2))

4

In [5]:
# want to perform above operation on all elements of list
numbers = [1, 2, 3, 4, 5]

list(map(square, numbers))

[1, 4, 9, 16, 25]

In [8]:
# lambda fn with map
numbers = [1, 2, 3, 4, 5]
list(map(lambda x: x*x, numbers))

[1, 4, 9, 16, 25]

In [11]:
# map multiple iterables
num1 = [1, 2, 3]
num2 = [4, 5, 6]

added_no = list(map(lambda x, y: x+y, num1, num2))
print(added_no)

[5, 7, 9]

In [13]:
# map() to convert list of string to integer
str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [ ]:
words = ["apple", "banana", "orange"]

upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'ORANGE']

In [15]:
def get_name(person):
    return person["name"]

# list of dictionary items
people = [
    {"name": "Anshu", "age": 22},
    {"name": "Modi", "age": 65}
]

list(map(get_name, people))

['Anshu', 'Modi']